<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Med.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Med.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost;Database=med;User=root;Password=123456789;</value>
            </setting>
            <setting name="ReportConnectionString" serializeAs="String">
                <value>Driver={MySQL ODBC 5.2 ANSI Driver};Server=localhost;Database=med;User=root;Password=123456789;Socket=MySQL;Option=3;</value>
            </setting>
        </Med.Properties.Settings>
    </userSettings>
</configuration>